<!DOCTYPE html>
<html>
  <head>
    <%block name='head'>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>系统加载中......</title>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="shortcut icon" href="${STATIC_URL}favicon.ico" type="image/x-icon">

        <!-- 这个是全局配置，如果需要在js中使用app_id和site_url,则这个javascript片段一定要保留 -->
        <script type="text/javascript">
	    	  var app_id = "${APP_ID}";
			    var site_url = "${SITE_URL}";	  // app的url前缀,在ajax调用的时候，应该加上该前缀
			    var static_url = "${STATIC_URL}"; // 静态资源前缀
	      </script>

      <meta name="description" content="Dashboard" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

	<script src="${STATIC_URL}lib/tools.js"></script>
	<script src="${STATIC_URL}plugin/layout/layout.js"></script>
	<script>
		var ohtml = document.getElementsByTagName('html')[0];
		var prog = new PageLoadProg(ohtml);
	</script>
	<link rel="stylesheet" href="${STATIC_URL}resources/css/common/normalize.min.css">
	<link rel="stylesheet" href="${STATIC_URL}resources/css/common/common.css">
	<link rel="stylesheet" href="${STATIC_URL}plugin/layout/layout.css">
	<link rel="stylesheet" href="${STATIC_URL}plugin/layout-tab/layout-tab.css">
	<link rel="stylesheet" href="${STATIC_URL}plugin/scroll/scroll.css">
	<link rel="stylesheet" href="${STATIC_URL}plugin/layui/css/layui.css">
	<link rel="stylesheet" href="${STATIC_URL}resources/css/index.css">
	<link rel="stylesheet" href="${STATIC_URL}resources/css/common/animate.css">
	<script src="${STATIC_URL}lib/jquery-1.12.3.min.js"></script>
	<script src="${STATIC_URL}plugin/layui/layui.js"></script>
	<script src="${STATIC_URL}plugin/layout-tab/layout-tab.js"></script>
	<script src="${STATIC_URL}plugin/menu-tree/menu-tree.js"></script>
	<script src="${STATIC_URL}plugin/scroll/scroll.js"></script>
	<script src="${STATIC_URL}js/index.js"></script>

	<link rel="stylesheet" href="${STATIC_URL}resources/css/common/normalize.min.css">
	<link rel="stylesheet" href="${STATIC_URL}resources/css/common/zr-css.css">
	<link rel="stylesheet" href="${STATIC_URL}resources/css/common/zr-css.css">
	<link rel="stylesheet" href="${STATIC_URL}plugin/table/table.css">
	<link rel="stylesheet" href="${STATIC_URL}plugin/calendar/calendar.css">
	<link rel="stylesheet" href="${STATIC_URL}resources/css/common/common.css">
	<link rel="stylesheet" href="${STATIC_URL}resources/css/common/item-common.css">
	<link rel="stylesheet" href="${STATIC_URL}resources/css/knowledge/add-knowledge.css">

	<script src="${STATIC_URL}plugin/calendar/calendar.js"></script>
	<script src="${STATIC_URL}plugin/3d/three.js"></script>

	<script src="${STATIC_URL}frame_api.js"></script>


	<script type="text/javascript">

		$(document).ready(function (e) {
			var IWF={}
			var url = "${SITE_URL}";
			var currentLogin = "currentlogincookie";
			var user_obj = {
                  username: "${request.user.username}",
                  is_superuser: "${request.user.is_superuser}",
                  id: "${request.user.id}",
                  phone: "${request.user.phone}"
              };
			$.getJSON(url + 'user/getInfo.data', {username: user_obj.username}, function (json) {
                //alert(json.user_name);

                json.userInfo.uRule = [];
                json.uRule=[];
                var isLoad = false;

                $('#welcome').text(user_obj.username).bind('click', function (e) {
                    //var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'UserInfoModel', 'b': 'UserInfoModel'};
                    //var me = window.framework;
                    //me.execCommand('go', data);
                });
                $('.navbar-brand').html('<span style="color:green;line-height: 40px;margin-left: 80px;">广州中软信息技术有限公司</span>');
                json.sid = IWF.sid;
                json.token = json.token;
                json.rootPath = url;
                window.framework = new FrameWork(document, json);
            });

			$('#LogoutSys').click(function(){
				layer.open({content: '您确定要注销系统吗？',
                 yes: function(index, layero){
                     //do something
                     window.location.href = "${LOGOUT_URL}";
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    }
                });




			});

			$('#SetMsg').bind('click',function(e){
				var data={ icon: 'icon-sitemap',color: 'icon-red', 'a': 'SetMsg', 'b': 'SetMsg' };
				var me=window.framework;
				me.execCommand('go',data);
			});
			$('#testllx').bind('click',function(e){
				var data={ icon: 'icon-sitemap',color: 'icon-red', 'a': 'view', 'b': 'oracle' };
				var me=window.framework;
				me.execCommand('go',data);
			});
			$('#linkroad').bind('click',function(e){
				var data={ icon: 'icon-sitemap',color: 'icon-red', 'a': 'linkroad', 'b': 'linkroad' };
				var me=window.framework;
				me.execCommand('go',data);
			});

		});
	</script>
    </%block>
  </head>

  <body style="overflow: hidden;">
<div class="zr-system-layout" id="zr-system-layout">
	<div class="zr-layout-main min-show">
		<div class="zr-layout-move"></div>
		<div class="zr-layout-table">
			<div class="zr-layout-left">
				<div class="zr-navigation-wrap">
					<!-- 这里放置菜单栏部分的内容，最好所有内容用一个div封装放这里 -->
					<div class="navigation">
						<div class="nav-handle">
							<button class="nav-flex nav-icon">&nbsp;</button>
							<ul class="nav-lock">
								<li class="on cur">&nbsp;</li>
								<li class="off">&nbsp;</li>
							</ul>
						</div>
						<div class="nav-mode-wrap">
							<div class="nav-mode"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="zr-layout-right">
				<div class="zr-layout-wrap">
					<div class="zr-layout-header clear">
						<div class="logo-wrap">
							<div class="logo-mode" data-title="首页" data-src="home/home.html">
								<img src="${STATIC_URL}images/common/logo.png" alt="" class="logo-icon" title="中国南方电网">
								<span class="logo" title="广东电网珠海供电局">广州中软信息技术有限公司</span>
							</div>
						</div>
						<div class="handle-wrap">
							<div class="handle-list">
								<p class="username" id="welcome" title="陈某韩">陈某韩</p>
							</div>
							<div class="handle-list">
								<button id="LogoutSys" class="out-btn" title="退出">退出</button>
							</div>
						</div>
					</div>
					<!-- 这里放置这里放置内容模块，最好所有内容用一个div封装放这里，如果需要tab页模式的，请再往下嵌套 -->
					<div class="zr-layout-cont">
						<div class="zr-layout-label-wrap">
							<div class="zr-layout-label-mode">
								<ul class="zr-layout-label-list">
									<!--<li class="cur">-->
										<!--<div class="zr-layout-label">-->
											<!--<button class="t" title="首页">首页</button>-->
											<!--<button class="c">&nbsp;</button>-->
										<!--</div>-->
									<!--</li>-->
								</ul>
							</div>
						</div>
						<div class="zr-layout-iframe-wrap">
							<!--<div class="zr-layout-iframe-mode cur">-->
								<!--<iframe src="home/home.html" frameborder="0" class="zr-layout-label-iframe"></iframe>-->
							<!--</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>

</html>

